langauge: generic
sudo: required
services: 
  - docker

before_install:
  - docker build -t johnnyhperkins/docker-setup -f Dockerfile.dev . 

script:
  - docker run -e CI=true johnnyhperkins/docker-setup npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-setup"
  env: "DockerSetup-env"
  bucket_name: "elasticbeanstalk-us-east-2-441141728616"
  bucket_path: "docker-setup"
  on:
    branch: master

access_key_id:
  secure: $AWS_ACCESS_KEY
secret_access_key:
  secure: $AWS_SECRET_KEY